a{
    font-family: Optima, serif;
    font-size: 20px;
    text-decoration: none; 
    color: black;
}

body {
    background-color:rgb(190, 191, 255);
    font-family: Perpetua, serif;
    background-repeat: no-repeat; 
    background-size: auto;
}
h1{
    font-family: IM Fell DW Pica, Candara, sans-serif;
    text-align: center;
    margin-left: 100px;
}

nav ul {
    display: flex;
    list-style-type:none;
    gap: 100px;
}
div{
    justify-content: flex-start;
    display: flex;
    gap: 100px;
    align-items: center;
}
